.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blueviolet;
    height: 84px;
    font-size: 24px;
}
.header > .name_of_page{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header > button {
    background-color: blueviolet;
    border: 0;
    color: white;
    font-size: 35px;
}