.list-of-chats {
    display: flex;
    flex-direction: column;
    flex: 0 1 100px;
}
.list-of-chats > .chat{
    display: flex;
    flex-direction: row;
    flex:0 1 100%;
    flex-wrap: nowrap;
}
.chat > .avatar{
    display: flex;
    flex: 0 1 10%;
    justify-content: center;
    align-items: center;
}
.avatar > .avatar-user{
    height: 100px;
    width: 100px;
}
.chat > .name-user-last-message, .chat > .message-time-reading{
    display: flex;
    flex-direction: column;
    flex:2 0 85%;
    justify-content: space-around;
    align-items: start;
    border-bottom: 1px solid #dedede;
    flex-wrap: wrap;

}
.chat > .name-user-last-message > .name-of-user {
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
.chat > .name-user-last-message > .last-message{
    padding-left: 10px;
    font-size: 20px;
    color: #333333;
}
.chat > .message-time-reading{
    flex: 0 1 5%;
}
.message-time, .reading{
    font-size: 20px;
}
