
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blueviolet;
    height: 84px;
    font-size: 24px;
}
.header > .name_of_page{
    flex: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header > button {
    background-color: blueviolet;
    border: 0;
    color: white;
    font-size: 35px;
    flex: 5%;
}

.header > button:active{
    font-size: 30px;
}

@media screen and (min-width: 700px) {
    .header {
        font-size: 30px;
    }
}
.list-of-chats {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.list-of-chats > .chat{
    display: flex;
    flex-direction: row;
    flex:0 1 100%;
    width: 100%;
    flex-wrap: nowrap;
    transition: background-color 0.2s;
}
.chat > .avatar{
    display: flex;
    flex: 10%;
    justify-content: center;
    align-items: center;
}
.avatar > .avatar-user{
    height: 100px;
    width: 100px;
}
.chat > .name-user-last-message, .chat > .message-time-reading{
    display: flex;
    flex-direction: column;
    flex:85%;
    justify-content: space-around;
    align-items: start;
    border-bottom: 1px solid #dedede;
    flex-wrap: wrap;

}
.chat > .name-user-last-message > .name-of-user {
    padding-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
.chat > .name-user-last-message > .last-message{
    padding-left: 10px;
    font-size: 20px;
    color: #333333;
}
.chat > .message-time-reading{
    flex: 5%;
    padding-right: 5px;
}
.message-time, .reading{
    font-size: 20px;
}
.list-of-chats > .chat:hover{
    background-color: #dedede;
    cursor: pointer;
}
.list-of-chats > .chat:active{
    background-color: darkgray;
}

@media screen and (max-width: 435px) {
    .chat > .name-user-last-message > .name-of-user {
        font-size: 21px;
    }
    .chat > .name-user-last-message > .last-message{
        font-size: 18px;
    }
    .message-time, .reading{
        font-size: 18px;
    }
    .avatar > .avatar-user{
        width: 80px;
        height: 80px;
    }
}
.button-create-chat{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: bisque;
    border-radius: 50% 50%;
    padding: 10px;
    font-size: 40px;
    animation: pulse 2s infinite;
}
.button-create-chat:hover{
    cursor: pointer;
    animation: none;
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 228, 196, 0.8);
        box-shadow: 0 0 0 0 rgba(255, 228, 196, 0.8);
    }
    50% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 228, 196, 0);
        box-shadow: 0 0 0 10px rgba(255, 228, 196, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 228, 196, 0);
        box-shadow: 0 0 0 0 rgba(255, 228, 196, 0);
    }
}
