.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: blueviolet;
    height: 100px;
    font-size: 24px;
}
.name_of_page{
    flex: 85%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    padding-bottom: 10px;
}
.button_headers {
    flex: 4%;
    background-color: blueviolet;
    border: 0;
    color: white;
}
.icon:active{
    font-size: 30px;
}

